.headerContainer {
  width: 100vw;
  height: 64px;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  background: var(--blue-850);
}

.mainContainer {
  width: 100vw;
  height: auto;

  padding: 2rem 3rem;
}

.footerContainer {
  width: 100vw;
  height: 64px;

  margin-top: 3rem;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
