* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hover: rgba(0, 0, 0, 0.3);

  --blue-900: #1a1d23;
  --blue-850: #23272f;

  --pink-500: #ff57b2;
  --pink-700: #d34591;

  --white: #ffffff;
  --white-300: #f8f8f8;

  --gray-200: #d7d7d7;
  --gray-500: #bbbbbb;

  --red-600: #890f0d;
  --red-800: #630606;

  --green-300: #4e9f3d;
  --green-500: #357c3c;
  --green-800: #25572a;
  --green-850: #1e5128;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--blue-900);
  color: var(--gray-200);
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--blue-850);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-500);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--gray-200);
  }
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--gray-200);
}

p,
ul,
strong {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

a {
  color: var(--pink-500);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--white-300);
}

button {
  cursor: pointer;
}

.overlayReactModal {
  background: rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.reactModalNewUser {
  width: 100%;
  max-width: 432px;
  background: var(--blue-900);
  color: var(--white);
  padding: 32px;
  position: relative;
  border-radius: 16px;
}

.reactModalDetailsUser {
  width: 100%;
  max-width: 30rem;
  background: var(--blue-900);
  color: var(--white);
  padding: 32px;
  position: relative;
  border-radius: 16px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.toastsAlerts {
  width: fit-content;
  height: auto;

  cursor: default;

  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;

  background: var(--blue-850);
  color: var(--white);
}
